@import "variables";
@import "bucles";
@import "animaciones";



$color-primario: rgb(32, 33, 34);
$color-secundario: rgba(41, 42, 43, 0.836);
$color-terciario: #e6e9f0;
$color-enlaces:  rgb(109, 106, 116);
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.fondoinicio {
    justify-content: center;
    background-color: $color-terciario;
}
.logo {
    display: block;
    margin: 0 auto;
    
}

.clase1 {
    text-decoration: solid;
}


.menuprincipal  {
list-style: none;
display: inline-flex;
justify-content: center;
gap: 2%;
position: sticky;
padding: 3%;
text-decoration: none;
}

.subir {
    width: 40px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 1%;

}

.textoss {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    margin-bottom: 10px
}
.textoprincipal {
    display: table;
    margin: auto;
}

.menufooter ul {

        text-decoration: none; 
        padding: 4%;
            li {
            list-style: none; 
            &li:hover {
        color: $color-terciario;
}
}
}

.footercolor {
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding: 5%;
    background-color: $color-secundario;
}
p {
    display: flex;
    justify-content: center;
}


.fotos1 {
    width: 75%;
    margin: auto;

    }
img {
    max-width: 100%;
    min-width: 30px;
}
@media screen and (min-width: 180px)   {
    .fotos1 {
        width: 100%;
        margin: auto;}
    img {
        max-width: 100%;
}}
@media screen and (min-width: 450px)   {
    .fotos1 {
        width: 90%;
        margin: auto;}
    img {
        max-width: 80%;
}}
@media screen and (min-width: 600px)   {
    .fotos1 {
        width: 75%;
        margin: auto;}
    img {
        max-width: 50%;
}}
@media screen and (min-width: 780px)   {
    .fotos1 {
        width: 75%;
        margin: auto;}
    img {
        max-width: 75%;
}}
@media screen and (min-width: 3000px)   {
    .fotos1 {
        width: 60%;
        margin: auto;}
    img {
        max-width: 70%;
}}
@media screen and (max-width: 1080px)   {
    .fotos1 {
        width: 70%;
        margin: auto;}
    img {
        max-width: 70%;
}}
.enlaces ul{
    list-style: none;
    color: $color-enlaces;
    :hover {
        color: $color-primario;
            }
}
.menuhamburguesa {
    background-color: $color-primario;
}

.beneficios {
    margin-top: 3px;
    justify-content: center;
    padding: 1%;
} 
